
html {
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  height: 100%;
}

body {
  height: 100%;
  font-size: 1em;
}

a {
  text-decoration: none;
}

.container {
  padding: 16px 16px;
  width: 100%;
}

.float_btn {
  position: fixed;
  bottom: 16px;
  right: 16px;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  text-align: center;
  color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

  i {
    margin-top: 22px;
  }
}


.header_title {
  width: 100%;
  text-align: center;
  font-size: 30px;
  border-bottom:1px solid;
  border-color: #031da3;
  
}

.submit_button {
  width: 362px;
  height: 40px;
  text-align: center;
  background-color: #FFCC00;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 40px;
  position: absolute;
  bottom: 0;
}

.many-card {
width: 362px;
height: 161px;
left: 30px;
top: 161px;
background: #F4F4F4;
border-radius: 10px;

}


.card_new {
width: 362px;
height: 160px;
left: 30px;
top: 348px;
margin-top: 30px;
background: #FFFFFF;
border: 1px dashed rgba(0, 0, 0, 0.2);
border-radius: 10px;

  h2 {
    text-align: center;
    padding: 50px;
    height: 25px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #000000;
  }
}

.text {
  width: 100%;
  height: 40px;
  margin: 10px 0;
  border: 1px solid #EBEBEB;
  background-color: #F4F4F4;
  border-radius: 10px;
  border: none;
}

.float_btn {
  position: fixed;
  width: 60px;
  height: 60px;
  text-align: center;
  border-radius: 100%;
  background-color: green;
  color: white;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.25);
}


label {
  font-size: 20px;
}

textarea {
  width: 100%;
  margin: 8px 0px;
  padding: 10px 0px;
  min-height: 200px;
  resize: vertical;
  border: 1px solid #EBEBEB;
  background-color: #F4F4F4;
  border-radius: 10px;
}

.btn-primary {
  position: absolute;
  width: 90%;
  height: 40px;
  left: 30px;
  top: 889px;
  color: white;
  background: #F8BD1C;
  border-radius: 4px;
}
